#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

#modal-header {
    background-color: #337DA8;
}

#modal-title {
    font-size: 20px;
	float: left;
	font-weight: normal;
	color: #FAFAFA;
	padding: 10px;
}

#modal-close {
	text-align: right;
	padding-top: 3px;
	padding-right: 3px;
}

#error-block {
   color: red;
   padding-top: 20px;
}

.form-style-9{	
	background: #FAFAFA;
	padding-left: 30px;
	padding-top: 30px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 0px 0px 10px 10px;
	border: 3px solid #305A72;
}
.header{
	height: 40px;
	background: #305A72;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px 10px 0px 0px;
}
.submit-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 15px Arial, Helvetica, sans-serif;
}
.submit-button:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}