<h2>Match Details</h2>  

<table class='main-table'>
  <tr>
      <td>
          <label for="anniversaryOption"><b>Anniversary</b></label>
      </td>
  </tr>
  <tr>
      <td>
          <select #anniversary (change)="filterAnniversaryMatches(anniversary.value)">
              <option value="0">All</option>
              <option *ngFor="let anniversary of anniversaryOptions" [value]="anniversary.anniversary">
                  {{anniversary.anniversary}}th Year</option>
          </select>
      </td>
  </tr>
  <tr>
      <td>
          <input class='date_picker' type="date" id="startDate" [(ngModel)]="startDate">
      </td>
      <td>
          <input class='date_picker' type="date" id="endDate" [(ngModel)]="endDate">
      </td>
      <td>
          <button (click)="filterRecords()" type="submit" class="submit-button">Go</button>
      </td>
  </tr>
  <tr>
      <td>
          <label for="teamOption"><b>Team</b></label>
      </td>
  </tr>
  <tr>
      <td>
          <select #team (change)="filterTeamMatches(team.value)">
              <option value="0">All</option>
              <option *ngFor="let team of teamOptions" [value]="team.teamId">{{team.teamName}}</option>
          </select>
      </td>
  </tr>
</table>

<table class='stats-table'>
  <thead>
    <tr>
      <th>Toss</th>
      <th>Matches</th>
      <th>Wins</th>
      <th>Win Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>All</td>
      <td>{{played}}</td>
      <td>{{won}}</td>
      <td>
        <div class="progress-container">
          <div class="progress-bar" style="--win-percent: {{winPercentage}}%;">{{winPercentage}}%</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Bat First</td>
      <td>{{batPlayed}}</td>
      <td>{{batWon}}</td>
      <td>
       
        <div class="progress-container">
          <div class="progress-bar" style="--win-percent: {{batWinPercentage}}%;">{{batWinPercentage}}%</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Bowl First</td>
      <td>{{bowlPlayed}}</td>
      <td>{{bowlWon}}</td>
      <td>
       
        <div class="progress-container">
          <div class="progress-bar" style="--win-percent: {{bowlWinPercentage}}%;">{{bowlWinPercentage}}%</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<mat-form-field>  
  <input autocomplete="off" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">  
</mat-form-field>

<div class="mat-elevation-z8">  
  <div id="add-button" *ngIf=isAdmin>
    <mat-icon [inline]="true" style="cursor: pointer;" class="material-icons" (click)="openAddUpdateMatchDetailsModal({})">add_circle</mat-icon>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>  
  
    <ng-container matColumnDef="matchDate">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Match Date </th>  
      <td mat-cell *matCellDef="let match"> {{match.matchDate}} </td>  
    </ng-container>
    
    <ng-container matColumnDef="team">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>  
      <td mat-cell *matCellDef="let match"> {{match.teamDetails.teamName}} </td>  
    </ng-container>

    <ng-container matColumnDef="teamScore">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score</th>  
      <td mat-cell *matCellDef="let match"> {{match.teamScore}} </td>  
    </ng-container>

    <ng-container matColumnDef="opponent">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opponent </th>  
      <td mat-cell *matCellDef="let match"> {{match.opponent}} </td>  
    </ng-container>

    <ng-container matColumnDef="opponentScore">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>  
      <td mat-cell *matCellDef="let match"> {{match.opponentScore}} </td>  
    </ng-container>

    <ng-container matColumnDef="matchResult">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>  
      <td mat-cell *matCellDef="let match"> {{match.matchResult}} by {{match.margin}}</td>  
    </ng-container>

    <ng-container matColumnDef="batFirst">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bat First </th>  
      <td mat-cell *matCellDef="let match"> {{match.batFirst}}</td>  
    </ng-container>

    <ng-container matColumnDef="action">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>  
      <td mat-cell *matCellDef="let match"> 
        <span style="cursor: pointer;color:rgb(219, 171, 11);" class="material-icons" (click)="openAddUpdateMatchDetailsModal(match)">create</span>
        &nbsp;<span style="cursor: pointer;color:rgb(172, 23, 23);" class="material-icons" (click)="deleteMatchDetails(match.matchId)">delete</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
  </table>  
  
  <mat-paginator [pageSizeOptions]="[15,20]"></mat-paginator>  
</div>  
<ngx-spinner type="timer"></ngx-spinner>