<!-- Title -->
<h2 class="page-title">Match Details</h2>

<!-- Filters Card -->
<div class="card filter-card">
  <div class="filter-row">
    <div class="form-group">
      <select #anniversary (change)="filterAnniversaryMatches(anniversary.value)">
        <option value="0">All Years</option>
        <option *ngFor="let anniversary of anniversaryOptions" [value]="anniversary.anniversary">
            {{anniversary.anniversary}}th Year</option>
    </select>
    </div>

    <div class="form-group">
      <select #team (change)="filterTeamMatches(team.value)">
        <option value="0">All Teams</option>
        <option *ngFor="let team of teamOptions" [value]="team.teamId">{{team.teamName}}</option>
    </select>
    </div>
  </div>
  <div class="filter-row">
    <div class="form-group">
      <input (change)="filterRecords()" class='date_picker' type="date" id="startDate" [(ngModel)]="startDate">
    </div>

    <div class="form-group">
      <input (change)="filterRecords()" class='date_picker' type="date" id="endDate" [(ngModel)]="endDate">
    </div>
  </div>
</div>

<!-- Stats Table -->
<div class="card stats-card">
  <div class="stats-header">
    <span>Toss</span>
    <span>Matches</span>
    <span>Wins</span>
    <span>Win %</span>
  </div>

  <div class="stats-row">
    <span>All</span>
    <span>{{played}}</span>
    <span>{{won}}</span>
    <div class="progress">
      <div class="progress-bar"
       [ngClass]="getWinPercentageClass(winPercentage)"
       [ngStyle]="{ width: winPercentage + '%' }">
       {{ winPercentage }}%
      </div>
    </div>
  </div>

  <div class="stats-row">
    <span>Bat First</span>
    <span>{{batPlayed}}</span>
    <span>{{batWon}}</span>
    <div class="progress">
      <div class="progress-bar"
      [ngClass]="getWinPercentageClass(batWinPercentage)"
      [ngStyle]="{ width: batWinPercentage + '%' }">
      {{ batWinPercentage }}%
     </div>
    </div>
  </div>

  <div class="stats-row">
    <span>Bowl First</span>
    <span>{{bowlPlayed}}</span>
    <span>{{bowlWon}}</span>
    <div class="progress">
      <div class="progress-bar"
      [ngClass]="getWinPercentageClass(bowlWinPercentage)"
      [ngStyle]="{ width: bowlWinPercentage + '%' }">
      {{ bowlWinPercentage }}%
     </div>
    </div>
  </div>
</div>

<mat-form-field>  
  <input autocomplete="off" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">  
</mat-form-field>

<div class="mat-elevation-z8">  
  <div id="add-button" *ngIf=isAdmin>
    <mat-icon [inline]="true" style="cursor: pointer;" class="material-icons" (click)="openAddUpdateMatchDetailsModal({})">add_circle</mat-icon>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>  
  
    <ng-container matColumnDef="matchDate">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>  
      <td mat-cell *matCellDef="let match"> {{match.matchDate}} </td>  
    </ng-container>
    
    <ng-container matColumnDef="team">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>  
      <td mat-cell *matCellDef="let match"> {{match.teamDetails.teamName}} </td>  
    </ng-container>

    <ng-container matColumnDef="teamScore">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score</th>  
      <td mat-cell *matCellDef="let match"> {{match.teamScore}} </td>  
    </ng-container>

    <ng-container matColumnDef="opponent">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opponent </th>  
      <td mat-cell *matCellDef="let match"> {{match.opponent}} </td>  
    </ng-container>

    <ng-container matColumnDef="opponentScore">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>  
      <td mat-cell *matCellDef="let match"> {{match.opponentScore}} </td>  
    </ng-container>

    <ng-container matColumnDef="matchResult">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>  
      <td mat-cell *matCellDef="let match" [ngStyle]="{ color: getWinColor(match), 'font-weight': 'bold' }"> {{match.matchResult}} by {{match.margin}}</td>  
    </ng-container>

    <ng-container matColumnDef="batFirst">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bat First </th>  
      <td mat-cell *matCellDef="let match"> {{match.batFirst}}</td>  
    </ng-container>

    <ng-container matColumnDef="action">  
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>  
      <td mat-cell *matCellDef="let match"> 
        <span style="cursor: pointer;color:rgb(219, 171, 11);" class="material-icons" (click)="openAddUpdateMatchDetailsModal(match)">create</span>
        &nbsp;<span style="cursor: pointer;color:rgb(172, 23, 23);" class="material-icons" (click)="deleteMatchDetails(match.matchId)">delete</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
  </table>  
  
  <mat-paginator [pageSizeOptions]="[15,20]"></mat-paginator>  
</div>  
<ngx-spinner type="timer"></ngx-spinner>